.App {
  text-align: center;
}

.red{
  color: red;
}

.blod{
  font-weight: bold;
}

.App Button{
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.App Button:Hover{
  background-color:  lightgreen;
  color:black;
}

.App Button.Red{
  background-color:  red;
}

.App Button.Red:Hover{
  background-color:  salmon;
}
