.App {
    text-align: center;
  }
  
  .red{
    color: red;
  }
  
  .blod{
    font-weight: bold;
  }
  
  .Cockpit Button{
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
  }
  
  .Cockpit Button:Hover{
    background-color:  lightgreen;
    color:black;
  }
  
  .Cockpit Button.Red{
    background-color:  red;
  }
  
  .Cockpit Button.Red:Hover{
    background-color:  salmon;
  }
  